@model List<HamburguesasTienda.Models.Usuario>
@{
    ViewData["Title"] = "Usuarios Registrados";
}
<h2>Usuarios Registrados</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Email</td>
                <td>@usuario.Rol</td>
            </tr>
        }
    </tbody>
</table>
